<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Animal Shelter</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{'/css/styles.css'}" />
</head>
<body>
<h1>The Animal Shelter</h1>

<nav>
    <ul>
        <li><a href="index.html" th:href="@{'/'}">Home</a></li>
    </ul>
</nav>
<form action="animallist.html" th:action="@{/list}" method="get">
<label>
    <span>Search:</span>
    <input type="text" name="name" th:value="${search}" />
    <button>Search</button>
</label>
</form>

<table>
    <tr>
        <th>Animal Id</th>
        <th>Name</th>
        <th>Species</th>
    </tr>
    <tr th:each="animal : ${animals}">
        <td th:text="${animal.getAnimalid()}">1</td>
        <td><a th:text="${animal.getName()}">names</a></td>
        <td th:text="${animal.getSpecies()}">dog</td>
        <td>
            <a href="/list" th:action="@{'/delete'}">
            <img class="delete" src="../static/DeleteIcon.png" th:src="@{'DeleteIcon.png'}"/>
            </a>
        </td>
        <td>
            <img class="edit" src="../static/EditIcon.png" th:src="@{'EditIcon.png'}"/>
        </td>
    </tr>
    </table>

</body>
</html>